/*h1 {
    color: rgb(175, 37, 37);
    margin-bottom:  50px;
        margin-top: 50px;
        margin-left: 50px;
        
}*/

/*header {
    background: rgba(255, 255, 255, 0.473);
    margin-bottom:  50px;
    margin-top: 50px;
    margin-left: 50px;
  }*/

/*.table-guild {
    width: 300px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
     }*/
    



body {

background-image: url(1679802662_phonoteka-org-p-mobail-legend-oboi-krasivo-35.jpg);
background-size: cover;
}

.telega {
  width: 50px;
}


